.Main{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    width: 1000px;
}
.LoginBtn:hover{
    background-color: #d0d0d0;
    cursor: pointer;
}
.Content{
    position: relative;
    display: block;
    left: 80%;
    top: 3%;
}
.Profile{
    height:50px;
    width: 50px;
    position:relative;
    left:150px;
    cursor:pointer;
}
.dropdownContent{
    height:200px;
    width:160px;
    background-color: rgb(141, 154, 176);
    position:absolute;
    display: none;
    top:55px;
    z-index:35;
    left:100px;
    border-radius:1px;
    padding: 10px;

}
.Content:hover .dropdownContent{
    display: block;
    /*top:100px;*/
}
