.main {
    background: url("../../assets/Images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.rp_form{
    background-color: #fff;
    height: 300px;
    width: 500px;
    margin-top: 8%;
    border: 1px solid #688a4f;
    margin-left: 55%;
    margin-right: 8%;
}
.rp_form h2{
    font-weight: 300;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 25px;
    color: #000;
    font-weight: 400;
    text-align: center;
}
label{
    margin-left: 30px;
}
.input_field label, input{
    margin: 0;
    padding: 0;
}
.input_field{
    margin-left: 25px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
}
.input_field label{
    width: 138px;
    

}
.input_field input{
    padding: 8px;
    width: 270px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #7c7c7c;
}
h2.recover_heading {
    margin-bottom: 60px;
    padding-top: 20px;
}


button.send{
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    background: linear-gradient(to right, #00b09b, #96c93d);
    color: #fff;
    border: none;
    margin-left: 0;
    margin: 0 24px;
    width: 90%;
    margin-top: 14px;
    transition: all 0.2s ease-in;
}
button.send:hover {
    color: #fff;
    background: linear-gradient(to right, #03d8bf, #a7e043);
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
    .rp_form{
        background-color: #fff;
        height: 300px;
        width: 380px;
        margin-top: 150px;
        border: 1px solid #7EA860;
        margin-left: 20px;
    }
    .input_field input{
        padding: 8px;
        width: 230px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #7c7c7c;
    }

}

@media only screen and (max-width: 767.98px) and (min-width: 600px) {

    .rp_form{
        background-color: #fff;
        height: 300px;
        width: 380px;
        margin-top: 150px;
        border: 1px solid #7EA860;
        margin-left: 20%;
    }
    .input_field input{
        padding: 8px;
        width: 230px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #7c7c7c;
    }
}
@media only screen and (max-width: 991.98px) and (min-width: 767.98px)  {
    .rp_form{
        background-color: #fff;
        height: 300px;
        width: 380px;
        margin-top: 150px;
        border: 1px solid #7EA860;

    }
    .input_field input{
        padding: 8px;
        width: 230px;
        border-radius: 3px;
        outline: none;
        border: 1px solid #7c7c7c;
    }
}